<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="mail-result-session-scope1.html"   
    th:action="@{/mail-scope/input-mail}"method="post">

    メールアドレス：
    <input type="text"name="mail">
    <br>

    パスワード：
    <input type="text"name="pass">
    <br>

    <button>ログイン</button>

    
</body>
</html>